@media (max-width: 992px) {
  #style-switcher {
    display: none;
  }
  nav {
    display: none;
  }
 
  .info-img {
    width: 100%;
    left: -30px;
  }

  .hidden {
    display: none;
  }

  #package {
    margin-top: 1500px;
  }
}
